#container {
  margin: 0 auto;
  padding: 0px;
  width: 800px;
}

#content {
  margin: 0px 0px;
  width: 650px;
  float: left;
}

#side {
  width: 150px;
  float: left;
}

#locations table {
  border-collapse: separate;
}

#locations table, th, td, tr {
  border: 1px #cccccc solid;
  border-spacing: 0px;
}

#locations td {
  text-align: right;
}