#container {
  margin: 0 auto;
  padding: 0px;
  width: 800px;
}

#content {
  margin: 0px 0px;
  width: 650px;
  float: left;
}

#side {
  width: 150px;
  float: left;
}

div.locations table {
  border-collapse: separate;
}

div.locations table,
div.locations th,
div.locations td,
div.locations tr {
  border: 1px #cccccc solid;
  border-spacing: 0px;
}

div.locations td {
  text-align: right;
}

td.changed {
  background-color: #ffcccc;
}
