@charset "utf-8";
html{
    overflow:hidden;
}
html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
#mymap {
    margin: 0;
    height: 100%;
    width: 100%;
/*    z-index:-1; */
    position:absolute;
}
#ctlBox {
    position:absolute;
    z-index:1000;
    border: 1px solid #666;
    background-color: #CCC;
    width: 96%;
/*  margin: 2%; */
    overflow: auto;
    padding: 0;
    left: 10px;
    bottom: 36px;
    display: none;
}
#menuBox {
    position:absolute;
    z-index:1001;
/*  margin: 2%;*/
    padding: 0;
    left: 10px;
    bottom: 36px;
}
#inBox {
    margin: 2%;
}
#inBox p{
    margin: 2px;
}
#inBox span{
    vertical-align: middle;
}
#inBox img{
    vertical-align: middle;
}
#close {
    float: right;
    margin: 5px;
}
h1 {
    display: none;
}
