<h2>位置情報</h2>
<% if show_limited %>
<% count = 0; locations.each {|l| count = count + 1 } %>
最新の<%= count %>件だけ降順で表示しています。
<% end %>

<table>
  <tr>
    <th>緯度(南北)</th>
    <th>経度(東西)</th>
    <th>位置精度</th>
    <th>方向</th>
    <th>方向精度</th>
    <th>時刻</th>
    <th>デバイス名称</th>
  </tr>

<%= locations.each.collect{|location|render_location2(location)}.join %>

</table>

<br />

<%= link_to '位置情報追加', new_omatsuri_hikiyama_location_path(@omatsuri, @hikiyama) %>